<div style="height:380px;">
<table class="table table-hover row-fluid" >
    <tr>
        <th></th>
        <th>银行名称</th>
        <th>ID</th>
        <th>标题</th>
        <th>采集日期</th>
        <th>操作</th>
    </tr>
    {% for i, bank in enumerate(banks) %}
    <tr data-id="{{ bank.id }}">
        <td><input class="row-selector" type="checkbox" id="checkbox_{{ i }}" data-id="{{ bank.id }}" onclick="checkItem(this)"/></td>
        <td onclick="checkRow($(this).parent())" style="width:60px">{{ bank.name }}</td>
        <td><a class="btn" href="{{ bank.url }}" target="_blank"><i class="icon-eye-open" style="margin-right:5px"></i>查看</a></td>
	<td style="width:320px">{{ bank.title }}</td>
        <td>{{ bank.fetchTime }}</td>
        <td>
            <div class="btn-group" data-toggle="buttons-radio" style="float:left;" data-id="{{ bank.id }}">
                <button type="button" class="btn btn-success {% if bank.accepted == 1 %} {{ 'active' }} {% end %}" onclick="acceptProm(this)" >采用</button>
                <button type="button" class="btn btn-success {% if bank.accepted == 0 %} {{ 'active' }} {% end %}" onclick="unacceptProm(this)">弃用</button>
                <button type="button" class="btn btn-success {% if bank.accepted == 2 %} {{ 'active' }} {% end %}" onclick="postponeProm(this)">跳过</button>
            </div>
            <img src="assets/img/tiny_loading.gif" alt="" style="margin-left:10px;visibility:hidden;"/>
        </td>
    </tr>
    {% end %}
</table>
</div>
<div class="pagination pagination-right">
    <ul>
        {% if page != 1 %}
        <li><a href="#" onclick="loadContent('{{ page - 1 }}')">Prev</a></li>
        {% end %}
        {% for i in range(pageCount) %}
        {% set p=i + 1 %}
        <li class="{% if p == page %} active {% end %}" onclick="loadContent($(this).children().text())"><a href="#"> {{ p }}</a></li>
        {% end %}
        {% if page != pageCount %}
        <li><a href="#" onclick="loadContent('{{ page + 1 }}')">Next</a></li>
        {% end %}
    </ul>
</div>
